#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  /* border-style: groove; */
}

.pass {
  margin: 5px;
  padding: 6px;
  border-radius: 0%;
  font-style: italic;
  
}

.user {
   margin: 5px;
  padding: 6px;
  border-radius: 0%;
  font-style: italic;
}

#sign {
  border-style: groove;
  padding: 20px;
}

#sign form label {
  margin: 10px;
}